image: node:14.19

stages:
  - build
  - test
  - deploy

build:
  stage: build
  retry: 2
  script:
    - rm -r node_modules
    - npm install
    - node build-build-info.js
    - npm run-script build
    - echo $CI_JOB_ID > dist/CI_JOB_ID
  artifacts:
    expire_in: 1 week
    paths:
      - dist

.launcher_base: &launcher_base
  stage: build
  image: golang:1.16
  variables:
  script:
    - go get github.com/tc-hib/go-winres@latest
    - pushd chromium/launcher
    - export GOOS=windows
    - export GOARCH=amd64
    - go-winres make
    - go build -ldflags "-H windowsgui"
    - popd
  artifacts:
      expire_in: 1 day
      paths:
        - chromium/launcher/*.exe

launcher:
  <<: *launcher_base
  only:
    - release
  artifacts:
    paths:
      - chromium/launcher/*.exe

launcher_dev:
  <<: *launcher_base
  except:
    - release
  when: manual

test:
  stage: test
  image: alekzonder/puppeteer
  variables:
    HEADLESS: 'true'
  script:
    - cd tests
    - npm install
    - ./node_modules/codeceptjs/bin/codecept.js run --debug --steps
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - tests/output

.chromium_base: &chromium_base
  stage: test
  script:
    - apt-get update
    - apt-get install -y zip
    - mv chromium/launcher/vartiste-launcher.exe chromium/contents
    - mv dist chromium/contents/vartiste-dist
    - pushd chromium/contents
    - zip -ur ../chromium-vartiste.zip *
    - popd
  artifacts:
    expire_in: 1 day
    paths:
      - chromium/*.zip

chromium:
  <<: *chromium_base
  only:
    - release
  artifacts:
    paths:
      - chromium/*.zip

chromium_dev:
  <<: *chromium_base
  except:
    - release
  when: manual
  artifacts:
    expire_in: 1 day
    paths:
      - chromium/*.zip

xrpackage:
  variables:
    PUPPETEER_SKIP_DOWNLOAD: '1'
  script:
    - npm i -g git://github.com/webaverse/xrpackage-cli
    - cp xrpackage/manifest.json dist/manifest.json
    - pushd dist
    - xrpk build manifest.json vartiste.wbn
    - popd
  when: manual
  artifacts:
    expire_in: 5 days
    paths:
      - dist/*.wbn
pages:
  stage: deploy
  script:
    - mkdir -p public
    - mv dist/* public
  artifacts:
    expire_in: 1 week
    paths:
      - public
  only:
    - release

fake_pages:
  when: manual
  stage: deploy
  script:
    - mkdir -p public
    - mv dist/* public
  artifacts:
    expire_in: 2 days
    paths:
      - public


toolkit:
  stage: deploy
  when: manual
  variables:
    VARTISTE_TOOLKIT: 'true'
  script:
    - npm install
    - bash toolkit_deploy.sh
  artifacts:
    expire_in: 1 week
    paths:
      - 'dist/*.tgz'

itch:
  stage: deploy
  only:
    - itch
  script:
    - rm dist/gallery/*.vartiste
    - rm -r dist/stats
    - curl -L -o butler.zip https://broth.itch.ovh/butler/linux-amd64/LATEST/archive/default
    - unzip butler.zip
    - chmod +x butler
    - ./butler -V
    - ./butler push chromium/chrom*.zip zach-geek/vartiste:win32
    - ./butler push dist zach-geek/vartiste:html5
