@import 'style.styl'
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

html, body
  width: 100%
  margin: 0
header
  //max-width 80em
  margin: auto
  text-align: center
.logo, .screenshot
  max-width: 100%
  margin auto
#content, #readme
  max-width: 80em//calc(100% - 2em)
  min-width: 40em
  // width: 100%
  width: auto
  // margin: auto
  //max-width: none
  margin: auto
  padding: 2em

code, pre
  text-align: left
  font-family: 'Fira Mono', monospace
pre code
  font-size: small
  overflow-x: auto

pre
  background-color: #f0f0f0
  padding 0.3em
  border-radius: 3px
  overflow-x: auto

#readme
  code, pre
    max-width: 100%
    overflow-x: auto
  & > pre
    max-height: 30em
    border 1px solid #aaa

hr
  border: 1px solid #eee
  margin 2em

.codepen
  display: none !important

.docs
  h1
    margin-block-start: 0em
    text-align: left
    position: absolute
    left: 3px
    font-size: medium
    color: #aaa

  h2
    margin-block-start: 5em
    text-align left
    font-size 0.8em
    & code
      font-size 2.0em
      margin: 0 1em
  h3
    float right

  table
    border-collapse: collapse
    width 100%
    max-width 100%
    // transform: translate(-12.5%, 0)
  thead
    background-color: #fafafa

  tr:hover

  th, td
    border 1px solid #eee
    padding 0.4em
    min-width: 8em
    word-wrap: break-word

  p code
    white-space: pre-line

  p > img:only-child
    margin: auto
    display block

.toc
  width: -moz-fit-content
  width: fit-content
  margin: auto
  & > ul > li > a
    font-size: 120%
  & > ul > li > ul
    font-size: 75%
    margin-bottom: 1em
  & > ul > li > ul > li
    border-bottom: 1px dashed #ee
    & > a
      font-size: 120%
      margin-right: 1.3em
      color: inherit
      font-weight: normal
      text-decoration: none
    & > .type
      float: right
