@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body
  font-family 'Open Sans', sans-serif

#content
  margin: auto
  width max-content
  max-width: 40em
  background-color: #fff
  padding: 3em

h1,h2,h3,h4,h5
  text-align: center

footer
  display: block
  width max-content
  margin 0 auto

.launch-button
  display: block
  width: max-content
  margin: auto
  padding: 10px
  border-radius: 5px
  border: 1px solid black

.logo
  max-width: 100%
  margin auto

p, li
  img
    filter invert()
    vertical-align: bottom
    height 1.3em
