header
  position: absolute
  top 0
  left 50%
  transform: translate(-50%, 0)
  z-index: 100
  padding: 20px
  background-color: #f0edf2
  border: 3px solid #2e4459
  border-radius: 5px
  margin-top: -5px
  text-align: center
  p
    text-align: left
